dist/
en-US/
*.ps1xml
*.cache
*.tmp
*.log
.vscode/
*.code-workspace
*.nupkg
*.nuspec
.nyc_output/
node_modules/
coverage/
docs/*.json
docs/*.yml
docs/*.cab
.github/artifacts/
testResults*.xml
Thumbs.db
.DS_Store
.idea/
